<!-- mock response url pair -->
<!-- show baseurl, shorturl, button to copy to kb and shorten another-->
 <!-- misc : add qr code option -->


<div id="mock-url-pair" class="shadow-lg bg-background rounded-lg mx-auto max-w-2xl space-y-4 p-6 border">
    <div class="mb-2">
        <h3 class="font-semibold text-lg">Original URL</h3>
        <div class="border rounded-md p-2">https://google.com</div>
    </div>
    
    <div class="mb-2">
        <h3 class="font-semibold text-lg">Short URL</h3>
        <div class="border rounded-md p-2">https://shortener.com/0000001</div>
    </div>

    <div class="flex flex-row justify-between">
        <div class="flex justify-end space-x-2">
            <button class="bg-primary text-background rounded-md px-4 py-2 hover:bg-accent transition">QR Code</button>
            <button class="bg-primary text-background rounded-md px-4 py-2 hover:bg-accent transition">Copy</button>
        </div>
        <div class="bg-primary text-background rounded-md px-4 py-2 hover:bg-accent transition">
            <a href="index_dev.html">Shorten Another</a>
        </div>
    </div>
</div>